/****************************************
 * Formatting for ALL normal content pages
 *****************************************/

html {
  color: #3B3C36;
  height: 90%;
  width: 90%;
  margin: 0 auto;
}

#container {
  line-height: 35em;
  text-align: right;
}

body {
  background-color: #cdcdcd;
}

#nav {
  position: relative;
  margin: 30px 0px 10px 0px;
  font-family: Palatino, serif;
  font-size: 25px;
  text-align: center;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.nav-prev-text {
  position: absolute;
  right: 70%;
  margin-top: 12px;
}

.nav-next-text {
  position: absolute;
  left: 70%;
  margin-top: 12px;
}

#page-name {
  text-align: right;
  vertical-align: middle;
  font-size: 57px;
  font-family: 'Palatino', serif;
}

#content-container {
  position: relative;
}

#page-content {
  height: 12em;
  text-align: center;
  margin-top: 2em;
  font-size: 35px;
  font-family: 'Palatino', serif;
}

.line-separator {
  height:1px;
  border-bottom: 1px solid #313030;
  background: #3B3C36;
}

a {
  text-decoration: none;
  color: #3B3C36;
}


/****************************************
 * Formatting for ABOUT page 
 *****************************************/

a.icon:hover {
  position: relative;
  bottom: 5px;
  color: #996699;
}


